h1 {
    color: darkorange;         
    font-size: 120px;     
    text-align: center;  
    font-weight: bold;
    margin-top: 10px;   
    margin-bottom: 200px;
    font-family: 'RetroFont', sans-serif;
    text-shadow: 3px 3px 0px #000;
    
}

body {
    margin: 0;
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
   }


footer {
    color: darkorange; 
    font-size: 40px;
    text-align: center;  
    font-weight: bold;
    margin-top: 100px;
    font-family: 'RetroFont', sans-serif;
    text-shadow: 3px 3px 0px #000;


}